<%= form_for(@repository) do |f| %>
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :repo_url %><br>
    <%= f.url_field :repo_url %>
  </div>
  <div class="field">
    <%= f.label :homepage %><br>
    <%= f.url_field :url %>
  </div>
  <div class="languages">
    <%= f.label :languages %><br>
    <%= f.text_area :languages %>
  </div>
  <div class="description">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
