<h1>Listing repositories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.repo_url %></td>
        <td><%= repository.tags.map{|t| t.name}.join","%></td>
		
        <td><%= link_to 'Show', repository %></td>
        <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
		<td><%= link_to_function 'Tags', "$('#tags"+repository.id+"').toggle()"%></td>
		<td>
			<div id= <%="tags#{repository.id}"%> class='hidden'/>
			    <%= form_tag(controller: 'tags', action: 'add') do %>
			      <%= text_field_tag :new_tag %>
				  <%= hidden_field_tag(:repository, repository.id) %>
				  <%= submit_tag "Add" %>
			    <% end %>
			</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repository', new_repository_path %>
