<% @repositories.each do |repo| %>
  <div class="repo-wrapper thumbnail">
    <div class="content">

      <div class="details pull-left">
        <img src="<%= repo.avatar_url %>" class="img-rounded pull-left">
        <div class="text">
          <h4>
            <%= link_to repo.fullname, repo.repo_url, target: repo.fullname %>
          </h4>
          <p><%= repo.description %></p>
        </div>
      </div>

      <div class="tags pull-right">
        <% 4.times do |i| %>
          <div class="tag">
            <a href="#" class="rate btn btn-mini up"><%= image_tag 'up.png', width: 14 %></a>
            <a href="#" class="rate btn btn-mini down"><%= image_tag 'down.png', width: 14 %></a>
            <div class="count">
              +<%= i*4 %>
            </div>
            <div class="name">
              Tests with capybara <%= i*4 %>
            </div>
          </div>
        <% end %>

        <% unless repo.tags.empty? %>
          <%= repo.tags.map{|t| t.name}.join","%>
        <% end %>
        <!-- <a href="#" class="btn btn-success">Make Review</a> -->
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="languages">
      <% unless repo.tags.empty? %>
        <%= repo.languages.join ', ' %>
      <% end %>
    </div>

  </div>
<% end %>
