<% @repositories.each do |repo| %>
  <div class="repo-wrapper thumbnail">
    <div class="content">

      <div class="details pull-left">
        <img src="<%= repo.avatar_url %>" class="img-rounded pull-left">
        <div class="text">
          <h4>
            <%= link_to repo.fullname, repo.repo_url, target: repo.fullname %>
          </h4>
          <p><%= repo.description %></p>
        </div>
      </div>

      <div class="tags pull-right">
        <% unless repo.tags.empty? %>
          <%= repo.tags.map{|t| t.name}.join","%>
        <% end %>
        <a href="#" class="btn btn-success">Add Review</a>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="languages">
      <%= repo.languages.join ', ' %>
    </div>

  </div>
<% end %>
