<p id="notice"><%= notice %></p>

<h1>Usages for <%= @tag %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repos.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.repo_url %></td>
        <td><%= repo.tags.map(&:name).join(', ') %></td>
        <td><%= link_to 'Show', repo %></td>
        <td><%= link_to 'Edit', edit_repository_path(repo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>