<% @repos.each do |repo| %>
  <div class="repo-wrapper thumbnail">
    <div class="content">

      <div class="details pull-left">
        <img src="<%= repo.avatar_url %>" class="img-rounded pull-left">
        <div class="text">
          <h4>
            <%= link_to repo.fullname, repo.repo_url, target: repo.fullname %>
          </h4>
          <p><%= repo.description %></p>
        </div>
      </div>

      <div class="tags pull-right">
        <% repo.tags.each do |t| %>
          <div class="tag">
            <div class="name">
              <%= link_to t, github_path(user: t.user, repo: t.repo) %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="languages">
      <%= repo.languages.join ', ' %>
    </div>

  </div>
<% end %>
