<!DOCTYPE html>
<html>
<head>
  <title>Wondercode</title>
  <link rel="icon" type="image/png" href="<%= image_url 'favicon.png' %>">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="span2">
          <%= link_to '/' do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
        <div class="span7">
          <div id="main-text">
            <h1 class="text-center">
              "Learn by code examples"
            </h1>
          </div>
        </div>
        <div class="span3 text-right navbar-search">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-link' %>
          <% else %>
            <%= link_to 'Login with GitHub', user_omniauth_authorize_path(:github), class: 'btn btn-link'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="main-content">
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <hr>
  <div class="container footer text-center">
    <p class="muted">WonderCoders from Wonderplex - Recife, PE | 2013</p>
  </div>

</body>
</html>
