<!DOCTYPE html>
<html>
<head>
  <title>Wondercode</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fluid-top">
    <div class="span1 offset11">
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Login with GitHub', user_omniauth_authorize_path(:github))  %>
        </li>
      <% end %>
    </div>
  </div>
<%= yield %>

</body>
</html>
